@model Character

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Персонаж</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Оружие
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon)
        </dd>
        <dt class = "col-sm-2">
            ID_уровня
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level_ID)
        </dd>
        <dt class = "col-sm-2">
            ID_игрока
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gamer_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
